*{
    margin:0;
    padding:0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(11, 18, 44, 0.6),rgba(15, 22, 49, 0.6)), url("photos/main photo.jpg");
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 150px;
}
.navbar {
    flex: 1;
    text-align: right;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-style: 13px;
}
.navbar li ::after{
     content: '';
     width: 0%;
     height: 2px;
     background: #f44336;
     display: block;
     margin: auto;
     transition: 0.5s;
}
.navbar li:hover ::after
{
    width: 100%;
}
.textbox{
    flex: 1;
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1{
    font-size: 62px;
}
.textbox p{
    margin: 0 10px 40px;
    font-size: 20px;
}
.herobtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 16px;
    position: relative;
    background: transparent;
    font-size: 13px;
    cursor: pointer;
}
.herobtn:hover{
    border: 1px solid rgb(245, 70, 70);
    background-color: rgb(245, 70, 70);
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width:700px)
{
     .textbox h1{
         font-size: 30px;
     }
     .textbox p{
         font-size: 10px;
     }
     .navbar ul li{
        display: block;

     }
     .navbar{
         position: absolute;
         background: orangered;
         height: 100vh;
         width: 200px;
         top: 0;
         right: 0;
         text-align: left;
         z-index: 2;
     }
     nav .fa{
         display: block;
         color: orange;
         margin: 10px;
         font-size: 22px;
         cursor: pointer;
     }
}
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.services p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}
.coloumn{
    flex-basis: 30%;
    background-color: burlywood;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.coloumn img{
    margin: 20px 0;
    width: 10vw;
}
.coloumn:hover{
    box-shadow: 0 0 20px 0px rgba(4,9,30,0.6);
    background-color: #f44336;
}
.row1{
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
}
@media(max-width:700px)
{
    .row{
        flex-direction: column;
    }
    .row1{
        flex-direction: column;
    }
}